/* Media queries */
/* Positioning */
/* Pseudo elements */
/* Short text */
/* bg-img position*/
/* use: @include cover-bg-img("../image/main.png") */
/* Font-size */
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img,
picture {
    max-width: 100%;
    display: block;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border: none;
}

button,
input {
    overflow: visible;
}

textarea {
    display: block;
    background: none;
    resize: none;
    outline: none;
    overflow: auto;
}

button {
    display: inline-block;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

progress {
    vertical-align: baseline;
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
*::before,
*::after {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

html {
    font-size: 62.5%;
}

body {
    background-color: #007bff;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.6rem;
    color: #fff;
}

body.no-scroll {
    overflow: hidden;
}

@media (max-width: 769px) {
    body.show-sidebar {
        overflow: hidden;
    }
}

/* Blocks */
.page {
    display: grid;
    grid-area: main;
}

.page > * {
    grid-area: 1/-1;
    color: #575857;
}

.page h2 {
    font-size: 2.4rem;
}

.page h3 {
    font-size: clamp(2rem, 2vw, 2.6rem);
}

.page .bg {
    width: 100%;
    height: 100%;
    opacity: 1;
    -o-object-fit: fill;
    object-fit: fill;
}

@media (max-width: 769px) {
    .show-sidebar .page {
        position: relative;
    }
}

.page__title {
    margin-bottom: 3rem;
    font-size: 2.2rem;
}

.page__title--center {
    text-align: center;
}

@media (max-width: 769px) {
    .page__mask {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }
}

.main {
    padding: 6rem 2rem 4rem;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

@media (max-width: 598px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.header {
    display: grid;
    width: 100%;
    height: 6rem;
    padding: 0 1.5rem;
    grid-template-columns: auto 8fr auto;
    grid-template-areas: "logo nav partner";
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

@media (max-width: 1201px) {
    .header {
        grid-template: "partner logo burger" auto/2fr 8fr 2fr;
    }
}

.header .nav {
    justify-self: center;
}

.header__left {
    grid-area: logo;
    justify-self: center;
}

.header__right {
    grid-area: partner;
    justify-self: center;
}

.header__right img {
    max-height: 3.5rem;
}

.header__right .nav__list {
    gap: 1rem;
}

.nav {
    grid-area: nav;
}

@media (max-width: 1201px) {
    .nav {
        display: none;
        width: 28rem;
        height: 100vh;
        padding: 2rem;
        position: fixed;
        top: 6rem;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background-color: #000;
    }

    .nav.show {
        display: -ms-flexbox;
        display: flex;
    }
}

.nav__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.nav__list .search img {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

@media (max-width: 769px) {
    .nav__list {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.nav__item {
    position: relative;
    white-space: nowrap;
}

.nav__item:hover .nav__link, .nav__item:focus-within .nav__link {
    background: #e6e7f9;
    outline: none;
}

.nav__item:hover > .subnav, .nav__item:focus-within > .subnav {
    display: block;
}

@media (max-width: 769px) {
    .nav__item.active > .subnav {
        display: block;
    }
}

.nav__link {
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 1.35rem;
    padding: 2rem clamp(1rem, 1em, 1.35rem);
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    line-height: 1.2;
    font-size: clamp(1rem, 1.2vw, 1.6rem);
    text-transform: uppercase;
    color: blue;
    transition: background 0.2s linear;
}

.nav__link.has-subnav {
    position: relative;
    padding-right: 3.5rem;
}

.nav__link.has-subnav:after {
    content: "";
    display: block;
    position: absolute;
    right: 1.35rem;
    border-style: solid;
    border-width: 0.6rem 0.5rem 0 0.5rem;
    border-color: blue transparent transparent transparent;
}

@media (max-width: 769px) {
    .nav__link {
        padding: 1.35rem 0;
        font-size: 1.6rem;
    }
}

.subnav {
    display: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: 100%;
    padding: 0.6rem 0.6rem;
    background: #3137C9;
    border-radius: 0 0 0.4rem 0.4rem;
    box-shadow: 0 0.6rem 0.8rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 0;
}

@media (max-width: 769px) {
    .subnav {
        position: static;
        width: 100%;
        background: none;
        box-shadow: none;
    }
}

.subnav__link {
    display: block;
    padding: 0.8rem 1.2rem;
    font-size: 1.6rem;
    color: #fff;
    text-align: left;
    transition: background 0.2s ease-in-out;
}

.subnav__link:hover, .subnav__link:focus-within {
    background: #272ca0;
    outline: none;
}

@media (max-width: 769px) {
    .subnav__link {
        font-size: 1.5rem;
    }

    .subnav__link:hover {
        background: none;
    }
}

.hero {
    display: grid;
    height: calc(100vh - 6rem);
    padding: 4rem 0;
}

.hero__content {
    display: grid;
    grid-template: "hero__info2022 hero__tickets"/auto 60%;
    gap: 2rem;
    -ms-flex-align: center;
    align-items: center;
    place-content: center;
    z-index: 1;
}

@media (max-width: 1025px) {
    .hero__content {
        grid-template: "hero__tickets" "hero__info2022";
    }
}

.hero__info2022 {
    display: grid;
    grid-area: hero__info2022;
    width: auto;
    padding: 2rem clamp(2rem, 2.5vw, 4rem);
    gap: 1rem;
    background: #fff;
    box-shadow: 4px 4px 18px 8px rgba(0, 0, 0, 0.4);
}

.hero__info2022_content {
    -webkit-column-gap: 1.6rem;
    -moz-column-gap: 1.6rem;
    column-gap: 1.6rem;
    font-size: clamp(1.6rem, 1.3vw, 2.4rem);
}

.hero__info2022_content ul {
    padding-left: 1.6rem;
    list-style: disc;
}

.hero__info2022_content li {
    padding: 0.6rem;
}

.hero__info2022_content li a {
    position: relative;
}

.hero__info2022_content li a::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #3137C9;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.hero__info2022_content li a:hover, .hero__info2022_content li a:focus-within {
    outline: none;
}

.hero__info2022_content li a:hover::after, .hero__info2022_content li a:focus-within::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

@media (max-width: 1025px) {
    .hero__info2022_content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
}

.hero__tickets {
    position: relative;
    display: grid;
    grid-area: hero__tickets;
}

.hero__tickets img {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
    transition: -webkit-filter 0.3s linear;
    transition: filter 0.3s linear;
    transition: filter 0.3s linear, -webkit-filter 0.3s linear;
}

.hero__tickets > * {
    grid-area: 1/-1;
}

.hero__tickets:hover img, .hero__tickets:focus-within img {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.hero__tickets:hover .btn, .hero__tickets:focus-within .btn {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.hero__tickets_content {
    display: grid;
    padding: 3rem;
    gap: 2rem;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #fff;
}

.hero__tickets_content h2 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 1px 5px 6px rgba(0, 0, 0, 0.9);
}

.hero__tickets_content a:hover, .hero__tickets_content a:focus-within {
    color: #cccccc;
    outline: none;
}

.hero__tickets_content .purchase {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hero__tickets_content .purchase p {
    width: 70%;
    font-size: clamp(1rem, 1.5vw, 2.4rem);
}

.btn {
    padding: 1.1em 2em;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    background: #3137C9;
    border-radius: 2em;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.3);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover, .btn:focus-within {
    text-decoration: underline;
}

.btn_red {
    background: #ED3024;
    box-shadow: 0px 7px 17px -10px rgba(237, 48, 36, 0.2);
}

.btn_red:hover, .btn_red:focus {
    background: #cd1c11;
}

.btn_blue {
    background: #3137C9;
    box-shadow: 0px 7px 17px -10px rgba(49, 55, 201, 0.35);
}

.btn_blue:hover, .btn_blue:focus {
    background: #272ca0;
}

.btn_sm {
    padding: 0.7em 1.3em;
    border-radius: 0.41em;
}

.burger {
    display: none;
    position: relative;
    grid-area: burger;
    justify-self: right;
    width: 3rem;
    height: 2rem;
    background: none;
}

.burger:before, .burger:after,
.burger span {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    font-size: 0;
    border-top: solid black;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.burger:before {
    top: 0;
}

.burger:after {
    bottom: 0;
}

.burger span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity 0.2s linear;
}

.show-sidebar .burger span {
    opacity: 0;
}

.show-sidebar .burger:before {
    top: 50%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.show-sidebar .burger:after {
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 1201px) {
    .burger {
        display: block;
    }
}

.form--auth {
    max-width: 28rem;
    margin: 0 auto;
}

.form__group {
    margin-bottom: 2.5rem;
    position: relative;
}

.form__control {
    width: 100%;
    padding: 0.5rem 0 0.8rem;
    border-bottom: 1px solid #3f3f3f;
    border-radius: 0;
    font-size: 1.4rem;
    color: #fff;
}

.form__control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control::placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control:focus + .form__line {
    width: 100%;
}

.form__control--textarea {
    height: 3.2rem;
    overflow: hidden;
}

.form__line {
    width: 0;
    height: 0.1rem;
    background: #3137C9;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: width 0.2s linear;
}

.form__footer--center {
    text-align: center;
}

.form__footer-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.form__footer-list li {
    margin: 0 0.5rem;
}

.form__footer-list a {
    color: inherit;
}

.social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 769px) {
    .social {
        display: none;
    }
}

.social__item:not(:last-child) {
    margin-right: 1.5rem;
}